<h2 class="text-primary">hello</h2>
<div class="menu">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="service" routerLinkActive="active">service</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
        </li>
    </ul>

</div>
<!-- <h1>AppHome Component</h1>
<div>
<input type="button" class="btn btn-primary" value="Back to the AppComponent" (click)="gotoHome()">
</div> -->
<router-outlet></router-outlet>